<%- include("../templates/encabezado")%>


<section  class="layout">
    <div class="sidebar bg-dark col-sm-auto  sticky-top" style="z-index: 999;"><%- include("../templates/menu")%></div>
    <div class="body">
      <div class="container mt-3 mb-2 ml-1">
        <section class="layout_2">
          <div class="header">
            <nav class="navbar fixed-top navbar-light bg-light" style="z-index: 100;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"> <%- include("../templates/navbar/navbarProductos")%></a>
                </div>
            </nav>
           
          </div>
          <div class="main mt-4">
            
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h1>Productos Bajas</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id Baja</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>FechaIngreso</th>
                                    <th>FechaEgreso</th> 
                                    <th>Usuario Baja</th> 
                                    <th>Borrar</th>                    
                                </tr>
                            </thead>
                            <tbody>
                                <%
                                prodBajas.forEach((producto)=>{
            
                                    
                                %>
                                <tr>
                                    <td><%= producto.id %></td>
                                    <td><%= producto.nombre %></td>
                                    <td>$<%= producto.precio %></td>
                                    <td><%= producto.fechaIngreso %></td>
                                    <td><%= producto.fechaEgreso %></td>
                                    <td><%= producto.usuarioBaja %></td>
                                    <td>
                                      <a href="/borrarBajaProducto/<%= producto.id %>">Borrar</a>
                                  </td>
                                </tr>
                                
                                <%
                                });
                                %>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>

          </div>
        </section>
      </div>
    </div>
</section>


<%- include("../templates/pie")%>