<%- include("../templates/encabezado")%>
<link rel="stylesheet" href="/public/products.css">


<section  class="layout">
    <div class="sidebar bg-dark col-sm-auto  sticky-top"><%- include("../templates/menu")%></div>
    <div class="body">
      <div class="container mt-3 mb-2 ml-1">
        <section class="layout_2">
          <div class="header">
            <nav class="navbar fixed-top navbar-light bg-light" style="z-index: 100;">
              <div class="container-fluid">
                <a class="navbar-brand" href="#"><%- include("../templates/navbar/navbarInicio")%></a>
              </div>
          </nav>
            
          </div>
          <div class="main">
            

            <div class="container" style="margin-top: 80px;">
              <div class="row">
                <%
                    productos.forEach((producto)=>{
                %>
                  <div class="col-md-3 col-sm-6">
                      <div class="product-grid3">
                          <div class="product-image3">
                              <a href="#">
                                  <img class="pic-1" src="/images/<%= producto.foto %>" alt="<%= producto.nombre %>">
                                  <!-- <img class="pic-2" src="http://bestjquery.com/tutorial/product-grid/demo4/images/img-2.jpg"> -->
                                  <p class="pic-2 stock"><%= producto.descripcion %></p>
                              </a>
                              <ul class="social">
                                  <li><a href="/bajaProducto/<%= producto.id %>">
                                    <i class="bi bi-x-circle-fill"></i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                    </svg>
                                  </a></li>
                                  <!-- <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li> -->
                              </ul>
                          </div>
                          <div class="product-content">
                              <h3 class="title"><a href="#"><%= producto.nombre %></a></h3>
                              <div class="stock">
                                Precio: $<%= producto.precio %>
                              </div>
                              <br>
                              <div class="stock">
                                  Cantidad: <%= producto.stock %>
                              </div>
                          </div>
                      </div>
                  </div>
                  <%
                    });
                  %>
              </div>
          </div>
          <hr>


          </div>
        </section>
      </div>
    </div>
</section>


<%- include("../templates/pie")%>