
<%- include("../templates/encabezado")%>

<section class="layout">
    <div class="sidebar bg-dark col-sm-auto sticky-top"><%- include("../templates/menu")%></div>
    <div class="body">

        <div class="container py-5">
            <div class="row">
                <hr class="mb-5">

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <span class="anchor" id="formRegister"></span>
                            
                            <div class="card card-outline-secondary">
                                <div class="card-header">
                                    <h3 class="mb-0">New User</h3>
                                </div>
                                <div class="card-body">
                                    <form action="/editar" method="post" class="form">
                                        <input type="hidden" name="id" id="id" value="<%= user.id%>">
                                        <!-- <input type="hidden" name="passwordViejo" id="passwordViejo" value="<%= user.password%>">
                                        <input type="hidden" name="saltViejo" id="saltViejo" value="<%= user.salt%>"> -->
                                        <div class="form-group">
                                            <label for="inputName">Name</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Full name" required="" value="<%= user.nombre%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3">Username</label>
                                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Username" required="" value="<%= user.usuario%>">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3">Password</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Escribe una nueva contraseña para cambiarla">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3">Nivel</label>
                                            <input type="number" class="form-control" id="nivel" name="nivel" placeholder="Nivel" min="0" max="4" value="<%= user.nivel%>">
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="inputVerify3">Photo</label>
                                            <input type="file" class="form-control" id="foto" name="foto" placeholder="Photo" required="">
                                        </div> -->
                                        <br>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-lg float-right">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </section>

<%- include("../templates/pie")%>