<%- include("../templates/encabezado")%>

<section  class="layout">
    <div class="sidebar bg-dark col-sm-auto  sticky-top" style="z-index: 999;"><%- include("../templates/menu")%></div>
    <div class="body">
      <div class="container mt-3 mb-2 ml-1" >
        <section class="layout_2">
          <div class="header">
            <nav class="navbar fixed-top navbar-light bg-light" style="z-index: 100;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><%- include("../templates/navbar/navbarUsuarios")%></a>
                </div>
            </nav>
            
          </div>
          <div class="main mt-4">
            
            <div class="container mt-5">
              <div class="card">
                  <div class="card-header">
                      <h1>Usuarios</h1>
                  </div>
                  <div class="card-body">
                      <table class="table table-hover">
                          <thead>
                              <tr>
                                  <th>Id</th>
                                  <th>Nivel</th>
                                  <th>Nombre</th>
                                  <th>Usuario</th>
                                  <th>Password</th>
                                  <th>Editar | Borrar</th>
                              </tr>
                          </thead>
                          <tbody>
                              <%
                                  usuarios.forEach((usuario)=>{
          
                                  
                              %>
                              <tr>
                                  <td><%= usuario.id %></td>
                                  <td><%= usuario.nivel %></td>
                                  <td><%= usuario.nombre %></td>
                                  <td><%= usuario.usuario %></td>
                                  <td><textarea class="form-control mb-3" cols="30" rows="2" style="overflow: hidden"><%= usuario.password %></textarea></td>
                                  <td>
                                      <a href="/editar/<%= usuario.id %>">Editar</a>
                                       / 
                                      <a href="/borrar/<%= usuario.id %>">Borrar</a>
                                  </td>
                              </tr>
                              
                              <%
                              });
                              %>
                          </tbody>
                      </table>
                  </div>
                  <div class="card-footer"></div>
              </div>
          </div>

          </div>
        </section>
      </div>
    </div>
</section>


<%- include("../templates/pie")%>